In [ ]:
# Monubabu Baitha

# Task 1: Data Exploration